<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474857755315-levipt00fhpjub50slk0fhb5v4dugr89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474857755315-levipt00fhpjub50slk0fhb5v4dugr89</string>
	<key>API_KEY</key>
	<string>AIzaSyBrMwnJPnCvFAgJtOu4LH3gpmc1SszLUsw</string>
	<key>GCM_SENDER_ID</key>
	<string>474857755315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.minguking.foodic.practiceMakesPerfecto</string>
	<key>PROJECT_ID</key>
	<string>foodic-a6891</string>
	<key>STORAGE_BUCKET</key>
	<string>foodic-a6891.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474857755315:ios:fb13eb0879887a4710d6c6</string>
	<key>DATABASE_URL</key>
	<string>https://foodic-a6891.firebaseio.com</string>
</dict>
</plist>